
#calendar {
  background-color: rgb(194, 190, 190);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* o el que millor et vagi */
  overflow-y: auto;

  overflow-x: auto;

  max-height: 80vh;
 
  display:block;
}
#errorLogin{display:none;}
.input-inici{max-width: 250px;}
#panellLateral {
  background-color: rgb(243, 239, 239);
  padding: 1rem;
  border-radius: 8px;
  height: 100%;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.fc-daygrid-day.selected {
  background-color: rgba(0, 123, 255, 0.15) !important;
}
#fitxatgeManual {
  max-height: 70vh;
  overflow-y: auto;
  background-color: #e0e5eb;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  display: block !important;
  border-left: 4px solid #0d6efd;
}
#taulaFitxatges {
  border-left: 2px solid #0d6efd;
  max-height: 50vh;

overflow-y: auto;

}
#fitxatgeManual h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}
#fitxatgeManual input {
  max-width: 140px;
}
#panellLateral {
  padding-bottom: 4rem;
  border-left: 4px solid #0d6efd;

}
#adminPanel {
  border-radius: 5px;
  display:none;
  background-color:#0d6efd;
}
#img {
  width: 200px;
  height: 50px;
}
#visorPDF {
  width: 100%;
  height: 100vh; /* Ocupa tota la pantalla */
  border: none;
}
#ver-botones {
  display: none;

  

  padding: 0;
  margin: 0;
  
  align-items: center; /* Centra verticalment si és flex */
  height: auto; /* Permet que l'alçada s'ajusti */

  top: 0; /* Es queda enganxat a la part superior de la pantalla */

}

#entrar-administracio,
#activar-sonido,
#feedback,
#feedback-info {
  display: none;
}
#feedback-info {
  background-color:rgb(79,76,76);
color:white;}
#activar-sonido,
#activar-sonido2 {
  color: rgb(93, 60, 215);
  gap: 5px;
}
#activar-conexion {
  font-size: 0.5rem; /* fa gran tant el text com la icona */
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: chartreuse;
}

#activar-conexion i {
  font-size: 2.5rem; /* opcional: pots fer només la icona més gran */
}
/* Cos del modal amb fons suau */
.modal-content {
  background: linear-gradient(to bottom right, #f3f9ff, #e0f0ff);
  border: 2px solid #bcdfff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Títol amb color destacat */
.modal-title {
  color: #0d6efd;
  font-weight: bold;
}

/* Camps readonly lleugerament enfosquits */
.modal-body input[readonly] {
  background-color: #f0f4f8;
  color: #333;
}

/* Botons personalitzats */
.modal-footer .btn-success {
  background-color: #198754;
  border-color: #157347;
}

.modal-footer .btn-danger {
  background-color: #dc3545;
  border-color: #bb2d3b;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border-color: #565e64;
}

/* Feedback amb transició suau */
#feedback,
#feedback-info {
  transition: opacity 1s ease-in-out;
   border-radius: 10px;
   
}
/* Estilo para eventos */
.fc-event {
  border-radius: 5px; /* Bordes redondeados */
}

/* Clase personalizada */
.evento-urgente {
  background-color: #ff0000 !important;
  border-color: #cc0000 !important;
}

/* Cambiar color de fondo del calendario */
.fc-daygrid-day {
  background-color: #edeff1;
}

/* Color del encabezado */
.fc-col-header-cell {
  background-color: #e6ebf0 !important;
  color: rgb(241, 162, 162) !important;
}
/* Botones de navegación */
.fc-button {
  background-color: #4caf50 !important;
  border: none !important;
}

/* Día actual */
.fc-day-today {
  background-color: #6abd6e;
}

/* Cambiar color de los días de la semana */
.fc-col-header-cell {
  background-color: #7d8ea1;
  color: white;
}

#card {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 0px;
  right: 800px;
  animation: swipe 5.2s ease-in-out;
  z-index: 2;
  display: flex;
  color: #e8eaec;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 0 0px;
  transform: translateX(100%, 100%);
}

#card::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 20px;
  width: 15px;
  height: 15px;
  background: rgb(198, 197, 195);
  border-radius: 50%;
  transition: background 0.5s;
}

#card.chip-verde::after {
  background: rgb(21, 253, 21) !important;
}

.reader-light {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 40px;
  animation: blink 5.2s;
  z-index: 1;
}

.wifi-icon {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #e7e4e4;
  z-index: 2;
}

.hand-icon {
  position: absolute;
}

@keyframes swipe {
  0% {
    left: 575px;
  }
  25% {
    left: 50px;
  }
  50% {
    left: 25px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 575px;
  }
}

#card {
  /* Añade estas propiedades */
  transform-origin: center;
  transition: transform 0.3s, opacity 0.3s;
}

@keyframes blink {
  0% {
    background: red;
  }
  30% {
    background: yellow;
  }
  70% {
    background: rgb(125, 219, 131);
  }
  100% {
    background: green;
  }
}
#card-reader {
  width: 100%;
  height: 250px;
  background: #4f4343;
  border-radius: 10px;
  position:relative;
  margin: 20px auto;
  display: block;
  overflow: hidden;
  background: #423b3b;
  border-radius: 10px;
  border-width: 5px;
  border-color: whitesmoke;
}
#tipusCard{
   position: absolute;
  left:25px;
  top:120px;
  z-index: 2;
  color :rgb(172, 168, 210);
  font-size:12px;
}
#nomCard {
  position: absolute;
  left:25px;
  top:140px;
  z-index: 2;
  color :rgb(212, 192, 192);
  font-size:12px;
}
#tropicCard{
  position: absolute;
  left:100px;
  top:100px;
  z-index: 2;
  color :yellow;
  font-size:12px;
}
#fotoCard{
  position:absolute;
  left:130px;
  top:50px;
  width:30px;
  height:40px;

}

/* Reloj digital */
.digital-clock,
.clock,.reader-avui{
  position: absolute;
 
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 21px;
  background: rgba(0, 0, 0, 0.5) transparent;
  padding: 3px 8px;
  border-radius: 0px;
  z-index: 1;
}
.digital-clock{
  top:190px;
  left:40px;
}
.clock {
  top: 190px;
  left:10px;
}
.reader-avui{
  top:215px;
  left:10px;}
/* Animación para la mano (mismos tiempos que la tarjeta) */
@keyframes swipe-hand {
  0% {
    left: 420px;
  }
  25% {
    left: 50px;
  }
  50% {
    left: 25px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 420px;
  }
}

.timer-container {
  position: absolute;
  min-width: 80px;
  font-size: 22px;
  text-align: center;
}

.gap-2 {
  gap: 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
/* Asegurar que los elementos no se compriman */

/* Espaciado para la imagen */
.ms-auto {
  margin-right: 50px !important;
  padding-left: 10px;
}
.icono{
  width:70px;
  height: 70px;
}
.modal-body {
  max-width: 600px !important;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-content{
  max-width: 600px !important;
  max-height: 90vh;

}
body{
   padding: 2rem;
      font-family: "Segoe UI", sans-serif;
      background-color: #dde0e7;

      height: 100vh;

      background-color: #c3acac;
}
input[type="time"],span[type="time"]{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-color: #def6dd;
  width: auto;
}
.span-com-input {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-color: #f2f2f2;
  width: auto;
  text-align: center;
  color: #333;
}

#activar-sonido,#img,#icono,#empresa_operativa,#usuariActiu,#activar-conexion,#activa-sonido{
   padding: 0;
  margin: 0;
  top:0px;
  line-height: 1; /* Evita espais verticals addicionals */
}
.bi-volume-up-fill,.bi-wifi,.bi-clock{
padding-left: 5px;padding-right: 5px;
  font-size: 2rem; color: cornflowerblue;

}
.bi-box-arrow-in-right,.bi-box-arrow-right{
  font-size: 1.5rem; color: rgb(141, 186, 194);
}
.clock{
  font-size: 1.5em;
  color:rgb(174, 221, 182);
}
.fondo_div_fitxatge{
  background-color:#eae6e6;
}
#modalSessio{display:none;}
#alarma-entrada,#alarma-sortida{
  position:absolute;
  display:flex;
}
#alarma-entrada{
  top:0px;
  left:0px;
}
#alarma-sortida{
  top:150px;
  left:0px;
}
#cercle-contador-entrada,#cercle-contador-sortida{
  color:blue;
  font-size: 24px;
  display:block;
}
#icona-reloj-entrada,#icona-reloj-sortida{
  display:block;
  color:yellow;
  font-size: 30px;
}
#taulerToggle,#btnToggleTauler{
  display:block;z-index: "9999";
}